<ul class="menubar">
    <li>My Records
        <ul>
            <li>Summary</li>
            <li>Quals</li>
            <li>Incidents</li>
            <li>Courses</li>
        </ul>
    </li>
    <li>Crew
        <ul>
            <li>Roster</li>
            <li>Incidents</li>
            <li>Budget</li>
            <li>Inventory</li>
            <li>Courses</li>
        </ul>
    </li>
    <li><%= link_to "Links" %></li>
    <li>Dandy</li>
    <li>Rappel
        <ul>
            <li>Rappels</li>
            <li>Equipment</li>
            <li>Heli Costs</li>
            <li><%= link_to "RIRS", irregularities_path %></li>
            <li><%= link_to "Staffing", staffing_levels_path %></li>
        </ul>
    </li>
</ul>