<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>NatRap Password Reset</h2>
    <p>
      Your password for NatRap.com has been reset at your request.<br />
      Your new password is: <span style="font-size:1.2em; font-weight:bold;"><%= @password %></span>
    </p>
    <p>
      To login to the site, just follow this link: <%= @login_url %>.
    </p>
  </body>
</html>