                <div class="info-col-header-role">Role</div>
                <div class="info-col-header-rank">#</div>
                <div class="header">Available</div>
		<div class="header">Unavailable</div>
		<div class="header">Days Off</div>
		<div class="header">Assigned</div>

		<br style="clear:both;" />

		<div id="unassigned-list" class="list">

			<div class="row">
                          <div class="role-cell"><div class="editable" ajax_path="/crew/1/rotation_board/">HERS</div></div>
                                <div class="rank-cell"><div class="editable"></div></div>
				<div class="cell" data-status="available">
					<span class="draggable" data-person-id="1"><img src="images/headshots/1-original.jpg" class="headshot">person 1</span>
				</div>
				<div class="cell" data-status="unavailable"></div>
				<div class="cell" data-status="something"></div>
			</div>
			<div class="row">
                                <div class="role-cell"><div class="editable"></div></div>
                                <div class="rank-cell"><div class="editable">15</div></div>
				<div class="cell" data-status="available">
					<span class="draggable" data-person-id="2"><img src="images/headshots/2-original.jpg" class="headshot">person 2<span class="quals">ICT5,FALC,HECM,HRAP,CRWB(t)</span></span>
				</div>
				<div class="cell" data-status="unavailable"></div>
				<div class="cell" data-status="something"></div>
			</div>
			<div class="row">
                                <div class="role-cell"><div class="editable" ajax_path="/submit/1">Suppressionist</div></div>
                                <div class="rank-cell"><div class="editable" ajax_path="/submit/2">2</div></div>
				<div class="cell" data-status="available">
					<span class="draggable" data-person-id="3"><img src="images/headshots/3-original.jpg" class="headshot">person 3</span>
				</div>
				<div class="cell" data-status="unavailable"></div>
				<div class="cell" data-status="something"></div>
			</div>
			<div class="row">
                                <div class="role-cell"><div class="editable" ajax_path="/submit/3">Bago</div></div>
                                <div class="rank-cell"><div class="editable" ajax_path="/submit/4">3</div></div>
				<div class="cell" data-status="available">
					<span class="draggable" data-person-id="4"><img src="images/headshots/4-original.jpg" class="headshot">person 4</span>
				</div>
				<div class="cell" data-status="unavailable"></div>
				<div class="cell" data-status="something"></div>
			</div>
			<div class="rowTemplate">
				<div class="role-cell"><div class="editable"></div></div>
                                <div class="rank-cell"><div class="editable"></div></div>
				<div class="cell" data-status="available"></div>
				<div class="cell" data-status="unavailable"></div>
				<div class="cell" data-status="something"></div>
			</div>
		</div>

		<div style="width:5px;height:100%;background-color:black;float:left;">&nbsp;</div>

		<div id="assigned-list" class="list">
			<div class="row">
				<div class="cell" data-status="assigned">
					<span class="draggable" data-person-id="5"><img src="images/headshots/20-original.jpg" class="headshot">person 5<span class="quals">ICT5,FALC</span></span>
				</div>
			</div>
			<div class="rowTemplate">
				<div class="cell" data-status="assigned"></div>
			</div>
		</div>
		</div>
		<br style="clear:both;" />